.app {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;

  width: 100%;
  height: 100%;

  position: fixed;

  font-size: 14px;
  letter-spacing: 0.6px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidebar {
  flex: 0 1 auto;
  background: #242528;
  min-width: 200px;
  color: #ffffff;
  font-size: 13px;
  overflow: auto;
}

.section-title__create_playlist {
  width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar .sidebar__section {
  /* this is better renamed to only margin-top */
  margin-top: 32px;
}

.title__image {
  height: 16px;
  width: 16px;

  float: right;
  /* don't use filter - use the image color directly */
  filter: invert(100%);
}

.section-title {
  color: #959da8;
  margin: 0 24px;
  padding-bottom: 8px;
}

.section-item {
  /* use px instead of rem */
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 0 12px;
  border-radius: 8px;
  margin: 0 12px;
  padding: 0 12px;
}

.section-item:hover {
  background-color: #4c4e55;
  border-radius: 5px;
}

.section__image {
  display: inline-block;
  height: 16px;
  width: 16px;
  filter: invert(100%);
  margin-right: 20px;
}

.main-page {
  flex: 1 1 auto;
  background: #000000;
  color: #ffffff;
  width: 100%;
  align-items: stretch;
  align-content: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  display: flex;
  padding-right: 200px;
}

.main-page__search-bar {
  padding: 18px;
  top: 0;
  right: 10px;
  background: #000000;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
}

.container {
  height: 100%;
  padding: 0 25px;
  overflow: auto;
}

input {
  border-radius: 6px;
  font-size: 14px;
  width: 388px;
  padding: 5px 10px 5px 10px;
  background-color: #2e3033;
  padding-left: 30px;
  color: #ffffff;
  border: 1px solid #000000;
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.category {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.category__suggested {
  overflow-x: hidden;
  padding-bottom: 0;
}

.category__item {
  background: #0f204c;
  margin-right: 25px;
  height: 250px;
  width: 250px;
  display: inline-block;
}

.category__item:last-child {
  margin-right: 0;
}

.item-image {
  width: 100%;
  height: 100%;
}

.item-large {
  height: 320px;
  width: 320px;
}

.suggested__col {
  width: 200px;
}

/* Suggested tracks table*/
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 5px 5px 0 0;
}

.row:not(:first-child):hover {
  background-color: #19191a;
  border-radius: 5px;
}

.artist:hover,
.album:hover {
  text-decoration: underline;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.table-container {
  min-width: 300px;
}

.column__item {
  font-weight: 100;
  line-height: 3;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 20%;
}

.header-column {
  padding-bottom: 10px;
  font-size: smaller;
  font-weight: 700;
  color: #a9a9a9;
  padding-right: 16px;
  width: 20%;
}

.header-column__image {
  display: inline-block;
  height: 16px;
  width: 16px;
  filter: invert(70%);
  margin-right: 10px;
}

.header-column__image:hover {
  filter: invert(100%);
}

.actions {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  max-width: 50px;
}

.item--fixed-width {
  min-width: 250px;
}

.item--thumbnail {
  width: 42px;
  height: 42px;
  margin-right: 8px;
}
